# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Virtual Environments
venv/
.venv/
env/
ENV/

# Large Model weights & Dataset files (exceeding/close to 100MB limit)
models/*.pkl
dataset/*.csv
appmediai/

# Environment configurations and secret keys
.env
.env.local
.env.*
.secrets.toml

# IDE settings
.vscode/
.idea/

# OS-specific files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
